/* ---------------------------------------------------------- */
/* theme*/
/* ---------------------------------------------------------- */

.nav-bg {
  background-color: rgb(46, 56, 80);
}

.navbar-dark {
  background-color: rgb(26, 32, 47);
}

body,
.light-theme {
  background-color: rgb(90, 94, 103);
  margin: 0;
}

#spotify-icon {
  color: rgb(29, 185, 84);
}

button {
  font-size: 1.2em;
  color: rgb(29, 185, 84);
  background-color: transparent;
  border: 1px solid rgb(29, 185, 84);
  border-radius: 20px;
  width: 120px;
  height: 40px;
}

button:hover {
  color: rgb(30, 215, 96);
  border: 1px solid rgb(30, 215, 96);
  background: transparent;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgb(28, 155, 82, 0.5) 20%,
    rgb(29, 185, 84, 0.5) 40%,
    rgb(30, 215, 96, 0.5) 60%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 240px 200px;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: buttonShimmer;
  animation-timing-function: linear;
}

button:after,
button:focus,
button:active {
  color: rgb(30, 215, 96);
  background-color: transparent;
  border: 1px solid rgb(30, 215, 96);
  outline: none;
}

hr {
  border: 1px solid rgb(26, 32, 47);
}

/* ---------------------------------------------------------- */
/*Animations*/
/* ---------------------------------------------------------- */
@keyframes buttonShimmer {
  0% {
    background-radius: 20px;
    background-position: -240px -100px;
  }

  100% {
    background-radius: 20px;
    background-position: 240px 40px;
  }
}

/* ---------------------------------------------------------- */
/* Table sections */
/* ---------------------------------------------------------- */

table {
  width: 100%;
  text-align: left;
  margin: 25px;
  border-radius: 5px;
}

thead {
  background-color: rgb(26, 32, 47);
}

thead tr {
  border-radius: 5px;
}

th {
  width: 2000px;
}

.first-col {
  text-align: center;
}

.table-row:hover {
  background-color: #7d7e8c !important;
  cursor: pointer;
}

/* ---------------------------------------------------------- */
/* Horizontal Scroll sections */
/* ---------------------------------------------------------- */

.scrollable {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
}

.scrollable a {
  display: inline-block;
}

.scrollable-artists {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
}

.scrollable-artists .artist-content {
  display: inline-block;
  margin: 10px 2px;
}

.scrollable-thumbnails .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
}

.scrollable-thumbnails {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
}

@media only screen and (min-width: 721px) {
  .scrollable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
  }
}

/* Scrollbar Width*/
::-webkit-scrollbar {
  width: 2px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: rgb(193, 198, 209);
  border-radius: 15px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgb(83 138 102);
  border-radius: 15px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(121 199 148);
}

/* ---------------------------------------------------------- */
/* Navbar */
/* ---------------------------------------------------------- */

#about-link,
#projects-link,
#contact-link {
  color: white;
  font-size: 20px;
}
#about-link:hover,
#projects-link:hover,
#contact-link:hover {
  color: orange;
  cursor: pointer;
}

/* Spotify insert */
.api-content {
  margin-top: 10px;
}

.spotify-content {
  margin-top: 20px;
  background-color: rgb(48 50 56);
  padding: 20px;
  border-radius: 20px;
}

.artist-content {
  margin: 2px 2px;
}

.artist-image {
  width: 160px;
  border-radius: 7px;

  transition: opacity 0.2s, visibility 0.2s;
}

.artist-name {
  position: relative;
  top: -150px;
  background: transparent;
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s, visibility 0.2s;
}

.artist-content:hover .artist-image {
  opacity: 0.5;
  cursor: pointer;
}

.artist-content:hover .artist-name {
  visibility: visible;
  opacity: 1;
}

.link-icon {
  color: rgb(26, 32, 47);
}

.link-icon:hover {
  color: rgb(35, 43, 63);
}

.show {
  display: block;
}
